// Import dependencies.
@import './../modules/variables';
@import './../modules/mixins';

// AddTodo container.
.mt-addtodo {
  text-align: center;
  margin-bottom: 30px;

  // Header title.
  &__title {
    margin-top: 0;
    color: #384046;
    font-weight: 400;
    font-size: 1.9em;
  }

  // Form.
  &__form {
    display: block;

    // Form input.
    &__input {
      // Reset input element appereance.
      border: none;
      border-bottom: 1px solid #eaeaea;
      outline: none;

      font-size: 1.4em;
      width: 100%;
      padding: 10px;
      color: $input-text-color;
      box-sizing: border-box;
      transition: all ease 0.3s;
      font-family: 'Source Sans Pro', sans-serif;

      // Form input - focus.
      &:focus {
        border-bottom: 2px solid $primary-color;
        padding-bottom: 9px;
      }

      // Form input - placeholder.
      &::-webkit-input-placeholder {
        color: #8e969c;
      }
    }
  }
}
