// Import dependencies.
@import './../modules/variables';
@import './../modules/mixins';

// TodoList container.
.mt-todolist {
  transition: all ease 0.3s;

  // TodoList items.
  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
  }

  @media (max-width: 767px) {
    &__list {
      margin-top: 15px;
    }
  }

  // TodoList filters.
  &__filters {
    text-align: right;

    // Filter link.
    a {
      text-decoration: none;
      margin-left: 15px;
      color: #8e969c;

      // Filter link active and on hover.
      &--active,
      &:hover {
        color: #0fb9b1;
      }
    }
  }

  // Active filters links.
  @include list-page-active( $pages );
}
